<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= category.order %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= category.enabled %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= category.quantity %>
  </p>

</div>
