<div id="<%= dom_id exercise_history %>">
  <p>
    <strong>Exercise:</strong>
    <%= exercise_history.exercise_id %>
  </p>

  <p>
    <strong>Sets:</strong>
    <%= exercise_history.sets %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= exercise_history.reps %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= exercise_history.weight %>
  </p>

  <p>
    <strong>Success:</strong>
    <%= exercise_history.success %>
  </p>

</div>
