<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= exercise.image %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= exercise.link %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= exercise.category_id %>
  </p>

  <p>
    <strong>Lift scheme:</strong>
    <%= exercise.lift_scheme %>
  </p>

</div>
