<%= form_with(model: exercise) do |form| %>
  <% if exercise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, 
                      class: "form-control",
                      rows: 3 %>
  </div>

  <div class="mb-3">
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div class="mb-3">
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div class="mb-3">
  <%= form.label :category_id, class: "form-label" %>
  <%= form.collection_select :category_id,
                           Category.all,
                           :id,
                           :name,
                           { prompt: "Select a category" },
                           class: "form-select" %>
</div>

  <div class="mb-3" data-controller="exercise-form">
    <%= form.label :lift_scheme, style: "display: block" %>
    <%= form.select :lift_scheme,
                  Exercise.lift_schemes.keys.map { |scheme| [scheme.titleize, scheme] },
                  { prompt: "Select exercise scheme" },
                  class: "form-select",
                  data: { action: "change->exercise-form#toggleWeightFields" } %>

    <div data-exercise-form-target="weightFields" class="<%= 'd-none' if form.object.manual? %>">
      <div class="mb-3">
        <%= form.label :weight, style: "display: block" %>
        <%= form.number_field :weight, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :progression, style: "display: block" %>
        <%= form.number_field :progression, class: "form-control" %>
      </div>
    </div>

    <div data-exercise-form-target="manualFields" class="<%= 'd-none' unless form.object.manual? %>">
      <div class="mb-3">
        <%= form.label :sets, style: "display: block" %>
        <%= form.number_field :sets, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :reps, style: "display: block" %>
        <%= form.number_field :reps, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :duration_seconds, style: "display: block" %>
        <%= form.number_field :duration, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :rest_seconds, style: "display: block" %>
        <%= form.number_field :rest, class: "form-control" %>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
